node_modules/
index.html
.github/
test/
.editorconfig
.eslintignore
.eslintrc.json
.htmlhintrc
.gitattributes
.gitignore
.nvmrc
importmap.json
importmap.yaml
*.config.js
*.test.js
*.gz
*.tgz
*.log
*.bak
*.env
!*.map
